In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("empl_train.csv")
df

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,Leave
0,Bachelors,2021,Bishkek,3,36,Male,No,0,0
1,Bachelors,2017,Osh,3,38,Male,Yes,5,0
2,Bachelors,2021,Osh,3,29,Female,No,1,1
3,Bachelors,2021,Osh,3,34,Male,No,5,0
4,Bachelors,2016,Bishkek,3,24,Male,No,2,0
...,...,...,...,...,...,...,...,...,...
3745,Bachelors,2020,Osh,3,33,Male,No,4,0
3746,Bachelors,2018,Osh,2,36,Female,No,5,1
3747,Bachelors,2018,Osh,3,28,Female,No,5,1
3748,Bachelors,2017,Osh,2,38,Female,No,0,0
3749,Masters,2017,other,3,26,Female,No,4,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3750 entries, 0 to 3749
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Education                  3750 non-null   object
 1   JoiningYear                3725 non-null   object
 2   City                       3732 non-null   object
 3   PaymentTier                3750 non-null   int64
 4   Age                        3750 non-null   int64
 5   Gender                     3750 non-null   object
 6   EverBenched                3750 non-null   object
 7   ExperienceInCurrentDomain  3750 non-null   int64
 8   Leave                      3750 non-null   int64
dtypes: int64(4), object(5)
memory usage: 263.8+ KB

In [4]:
df.isnull().sum()

Education                     0
JoiningYear                  25
City                         18
PaymentTier                   0
Age                           0
Gender                        0
EverBenched                   0
ExperienceInCurrentDomain     0
Leave                         0
dtype: int64

In [ ]:
df['JoiningYear']=pd.to_numeric(df['JoiningYear'],errors='coerce')
df['JoiningYear'].fillna(value=df['JoiningYear'].mean(), inplace=True)

In [5]:
df['EverBenched'].value_counts()

No     3357
Yes     393
Name: EverBenched, dtype: int64

In [5]:
df['Education']=df['Education'].replace('Bachlor','Bachelors')

In [6]:
df['Education']=df['Education'].replace('Master','Masters')

In [7]:
df['Education']=df['Education'].replace('Кандидат','PHD')

In [8]:
df['Gender'].value_counts()

Male       2243
Female     1469
Мужской      25
Женский      13
Name: Gender, dtype: int64

In [9]:
df['Gender']=df['Gender'].replace('Мужской','Male')
df['Gender']=df['Gender'].replace('Женский','Female')

In [10]:
df['City'].fillna(value='Bishkek', inplace=True)

In [11]:
df['City'].value_counts()

Bishkek    1780
Osh        1010
other       909
Биш          27
Ош           14
Др           10
Name: City, dtype: int64

In [12]:
df['City']=df['City'].replace('Биш','Bishkek')
df['City']=df['City'].replace('Ош','Osh')
df['City']=df['City'].replace('Др','other')

In [13]:
df['Gender'].replace({"Male":1, "Female":0}, inplace=True)

In [14]:
df['EverBenched'].replace({"Yes":1, "No":0}, inplace=True)

In [15]:
df=pd.get_dummies(df, 'Education', 'City')

In [16]:
df

,JoiningYear,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,Leave,EducationCityBachelors,EducationCityMasters,EducationCityPHD,EducationCityБакалавр,EducationCityМагистратура,EducationCityBishkek,EducationCityOsh,EducationCityother
0,2021.0,3,36,1,0,0,0,1,0,0,0,0,1,0,0
1,2017.0,3,38,1,1,5,0,1,0,0,0,0,0,1,0
2,2021.0,3,29,0,0,1,1,1,0,0,0,0,0,1,0
3,2021.0,3,34,1,0,5,0,1,0,0,0,0,0,1,0
4,2016.0,3,24,1,0,2,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,2020.0,3,33,1,0,4,0,1,0,0,0,0,0,1,0
3746,2018.0,2,36,0,0,5,1,1,0,0,0,0,0,1,0
3747,2018.0,3,28,0,0,5,1,1,0,0,0,0,0,1,0
3748,2017.0,2,38,0,0,0,0,1,0,0,0,0,0,1,0
3749,2017.0,3,26,0,0,4,0,0,1,0,0,0,0,0,1

In [17]:
X=df.copy()
y=X.pop('Leave')

In [18]:
from sklearn.model_selection import train_test_split as tts 
X_train, X_test, y_train, y_test=tts(X, y, test_size=0.2)

In [19]:
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier()

In [20]:
tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [21]:
tree.score(X_train, y_train)

0.939

In [22]:
tree.score(X_test, y_test)

0.8106666666666666

In [23]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()

In [24]:
rfc.fit(X_train, y_train)

RandomForestClassifier()

In [25]:
rfc.score(X_train, y_train)

0.939

In [26]:
rfc.score(X_test, y_test)

0.8173333333333334

In [27]:
from sklearn.model_selection import GridSearchCV
model=RandomForestClassifier()

In [34]:
mygrid = {
              'n_estimators':[50,100, 200, 300, 400],
              'max_depth':[2,6,15,20,None],
              'min_samples_leaf':[1,3,5],
              'min_samples_split':[1,3,5]
              
           }

In [35]:
grid_search = GridSearchCV(estimator=model, param_grid=mygrid, cv=6, n_jobs=-1, verbose=-1)

In [36]:
%%time
grid_search.fit(X_train, y_train)

D:\Anaconda\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
450 fits failed out of a total of 1350.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
450 fits failed with the following error:
Traceback (most recent call last):
  File "D:\Anaconda\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "D:\Anaconda\lib\site-packages\sklearn\ensemble\_forest.py", line 450, in fit
    trees = Parallel(
  File "D:\Anaconda\lib\site-packages\joblib\parallel.py", line 1043, in __call__
    if self.dispatch_one_batch(iterator):
  File "D:\Anaconda\lib\site-packages\joblib\parallel.py", line 861, in dispatch_one_batch
    self._dispatch(tasks)
  File "D:\Anaconda\lib\site-packages\joblib\parallel.py", line 779, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "D:\Anaconda\lib\site-packages\joblib\_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "D:\Anaconda\lib\site-packages\joblib\_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "D:\Anaconda\lib\site-packages\joblib\parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "D:\Anaconda\lib\site-packages\joblib\parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "D:\Anaconda\lib\site-packages\sklearn\utils\fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "D:\Anaconda\lib\site-packages\sklearn\ensemble\_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "D:\Anaconda\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "D:\Anaconda\lib\site-packages\sklearn\tree\_classes.py", line 250, in fit
    raise ValueError(
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  warnings.warn(some_fits_failed_message, FitFailedWarning)
D:\Anaconda\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan 0.72133333
 0.721      0.721      0.72133333 0.72166667 0.72066667 0.72
 0.721      0.72133333 0.72166667        nan        nan        nan
        nan        nan 0.71766667 0.72       0.721      0.722
 0.72133333 0.71833333 0.72133333 0.72066667 0.721      0.72133333
        nan        nan        nan        nan        nan 0.72166667
 0.722      0.72166667 0.72133333 0.72133333 0.71833333 0.72033333
 0.72       0.72133333 0.721             nan        nan        nan
        nan        nan 0.82       0.80766667 0.812      0.814
 0.81133333 0.81066667 0.818      0.81466667 0.80866667 0.81366667
        nan        nan        nan        nan        nan 0.80766667
 0.80466667 0.81866667 0.809      0.812      0.8        0.818
 0.81433333 0.81366667 0.814             nan        nan        nan
        nan        nan 0.808      0.81233333 0.81233333 0.819
 0.813      0.81166667 0.81       0.80433333 0.812      0.81
        nan        nan        nan        nan        nan 0.83966667
 0.84       0.841      0.83966667 0.843      0.84433333 0.84466667
 0.846      0.84833333 0.85              nan        nan        nan
        nan        nan 0.84633333 0.849      0.84733333 0.84866667
 0.852      0.85       0.849      0.84866667 0.85       0.85166667
        nan        nan        nan        nan        nan 0.843
 0.84566667 0.845      0.84666667 0.84433333 0.845      0.845
 0.846      0.84666667 0.846             nan        nan        nan
        nan        nan 0.831      0.834      0.834      0.83533333
 0.836      0.83933333 0.844      0.84033333 0.84333333 0.84333333
        nan        nan        nan        nan        nan 0.846
 0.84666667 0.85       0.85166667 0.85066667 0.846      0.847
 0.84966667 0.851      0.85066667        nan        nan        nan
        nan        nan 0.849      0.847      0.84466667 0.844
 0.84766667 0.84433333 0.84066667 0.84566667 0.84633333 0.84466667
        nan        nan        nan        nan        nan 0.83433333
 0.836      0.83366667 0.831      0.83833333 0.83833333 0.841
 0.84166667 0.84133333 0.838             nan        nan        nan
        nan        nan 0.849      0.84966667 0.84866667 0.851
 0.851      0.85       0.84866667 0.85133333 0.84933333 0.851
        nan        nan        nan        nan        nan 0.84466667
 0.84466667 0.84566667 0.84733333 0.84433333 0.84233333 0.84533333
 0.84366667 0.843      0.84433333]
  warnings.warn(

CPU times: total: 7.89 s
Wall time: 5min 17s

GridSearchCV(cv=6, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'max_depth': [2, 6, 15, 20, None],
                         'min_samples_leaf': [1, 3, 5],
                         'min_samples_split': [1, 3, 5],
                         'n_estimators': [50, 100, 200, 300, 400]},
             verbose=-1)

In [37]:
grid_search.best_params_

{'max_depth': 15,
 'min_samples_leaf': 3,
 'min_samples_split': 3,
 'n_estimators': 400}

In [55]:
best_model=RandomForestClassifier(max_depth=15, min_samples_leaf=3,min_samples_split=3, n_estimators=400 )

In [56]:
best_model.fit(X_train, y_train)

RandomForestClassifier(max_depth=15, min_samples_leaf=3, min_samples_split=3,
                       n_estimators=400)

In [57]:
best_model.score(X_train, y_train)

0.8813333333333333

In [58]:
best_model.score(X_test, y_test)

0.848

In [59]:
best_model.fit(X, y)

RandomForestClassifier(max_depth=15, min_samples_leaf=3, min_samples_split=3,
                       n_estimators=400)

In [97]:
test_df=pd.read_csv("empl_test.csv")
test_df

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain
0,Bachelors,2020,other,3,25,Female,Yes,3
1,Bachelors,2020,Bishkek,3,24,Male,No,2
2,Masters,2017,other,2,36,Male,No,3
3,PHD,2018,other,3,35,Female,No,0
4,Bachelors,2o18,Bishkek,3,26,Male,No,4
...,...,...,...,...,...,...,...,...
898,Bachelors,2022,Bishkek,3,29,Male,No,1
899,Bachelors,2021,other,3,28,Male,No,0
900,Bachelors,2021,Bishkek,3,24,Male,No,2
901,Bachelors,2020,Bishkek,3,27,Male,No,5
902,Bachelors,2018,Bishkek,3,27,Male,Yes,5

In [98]:
test_df['JoiningYear']=pd.to_numeric(test_df['JoiningYear'],errors='coerce')
test_df['JoiningYear'].fillna(value=test_df['JoiningYear'].mean(), inplace=True)

In [99]:
test_df['Education'].value_counts()

Bachelors       670
Masters         173
PHD              28
Бакалавр         19
Магистратура      7
Bachlor           3
Master            1
PhD               1
Кандидат          1
Name: Education, dtype: int64

In [100]:
test_df['Education']=test_df['Education'].replace('Bachlor','Bachelors')

In [101]:
test_df['Education']=test_df['Education'].replace('Master','Masters')
test_df['Education']=test_df['Education'].replace('Кандидат','PHD')
test_df['Gender']=test_df['Gender'].replace('Мужской','Male')
test_df['Gender']=test_df['Gender'].replace('Женский','Female')
test_df['Education']=test_df['Education'].replace('PhD','PHD')

In [102]:
test_df['City'].value_counts()

Bishkek    426
Osh        233
other      228
Др           6
Биш          4
Ош           4
Name: City, dtype: int64

In [103]:
test_df['City'].fillna(value='Bishkek', inplace=True)

In [104]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903 entries, 0 to 902
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Education                  903 non-null    object
 1   JoiningYear                903 non-null    float64
 2   City                       903 non-null    object
 3   PaymentTier                903 non-null    int64
 4   Age                        903 non-null    int64
 5   Gender                     903 non-null    object
 6   EverBenched                903 non-null    object
 7   ExperienceInCurrentDomain  903 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 56.6+ KB

In [105]:
test_df['City']=test_df['City'].replace('Биш','Bishkek')
test_df['City']=test_df['City'].replace('Ош','Osh')
test_df['City']=test_df['City'].replace('Др','other')
test_df['Gender'].replace({"Male":1, "Female":0}, inplace=True)
test_df['EverBenched'].replace({"Yes":1, "No":0}, inplace=True)
test_df=pd.get_dummies(test_df, 'Education', 'City')

In [106]:
X

,JoiningYear,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,EducationCityBachelors,EducationCityMasters,EducationCityPHD,EducationCityБакалавр,EducationCityМагистратура,EducationCityBishkek,EducationCityOsh,EducationCityother
0,2021.0,3,36,1,0,0,1,0,0,0,0,1,0,0
1,2017.0,3,38,1,1,5,1,0,0,0,0,0,1,0
2,2021.0,3,29,0,0,1,1,0,0,0,0,0,1,0
3,2021.0,3,34,1,0,5,1,0,0,0,0,0,1,0
4,2016.0,3,24,1,0,2,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,2020.0,3,33,1,0,4,1,0,0,0,0,0,1,0
3746,2018.0,2,36,0,0,5,1,0,0,0,0,0,1,0
3747,2018.0,3,28,0,0,5,1,0,0,0,0,0,1,0
3748,2017.0,2,38,0,0,0,1,0,0,0,0,0,1,0
3749,2017.0,3,26,0,0,4,0,1,0,0,0,0,0,1

In [107]:
best_model.predict(test_df)

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1], dtype=int64)

In [108]:
test_df['Prediction']=best_model.predict(test_df)

In [111]:
test_df['Prediction'].to_csv('Prediction.csv', index=False)

In [110]:
test_df['Prediction']

0      0
1      0
2      0
3      1
4      0
      ..
898    0
899    0
900    0
901    0
902    1
Name: Prediction, Length: 903, dtype: int64